@model JeyoNET5.Models.Paciente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula_pasaporte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula_pasaporte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parentesco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parentesco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seguro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seguro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
    </dl>
</div>
<div>


    <h2>Ingresos</h2>
    @foreach (var item in Model.Ingresos)
    {
        <p>Fecha del ingreso: @item.FechaIngreso</p>
        <p>Estado del ingreso: @item.estado</p>
        <a asp-controller="Ingresos" asp-action="Details" asp-route-id="@item.IngresoId">Detalles del ingreso</a> 


}

    <h2>Egresos</h2>
    @foreach (var item in Model.Egresos)
    {

        <p>Fecha del egreso: @item.FechaEgreso</p>


    }

    <h2>Historial Clinico</h2>
    @foreach (var item in Model.HistorialClinico)
    {
        <p>Id del historial: @item.HistorialClinicoId</p>
        <p>Detalles: @item.Detallles</p>
    }
    <h2>Facturas</h2>
    @foreach (var item in Model.Ingresos)
    {
        if (item.Factura != null)
        {
            <p>Fecha: @item.Factura.Fecha</p>
            <p>Monto: @item.Factura.Monto</p>
            <p>Detalles: @item.Factura.Estado</p>
        }
        else
        { <h7>Una factura por generar </h7>}
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PacienteId">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
