@model IEnumerable<JeyoNET5.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Pacientes</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </td>
            <td>Ingresos</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidad)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Ingresos.Count)</td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.PacienteId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PacienteId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PacienteId">Eliminar</a> |
                <a asp-controller="Ingresos" asp-action="Create" asp-route-id="@item.PacienteId">Ingresar</a> |
                <a asp-controller="Egresos" asp-action="Create" asp-route-id="@item.PacienteId">Dar de alta</a>
            </td>
        </tr>
}
    </tbody>
</table>
