@model IEnumerable<JeyoNET5.Models.Ingreso>

@{
    ViewData["Title"] = "Index";
}


<h1>Ingresos</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoIngreso.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unidad.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IngresoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IngresoId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IngresoId">Eliminar</a> |
                    <a asp-controller="Servicios" asp-action="Create" asp-route-id="@item.IngresoId">Agregar servicio</a>
                </td>
            </tr>
        }
    </tbody>
</table>
