@model IEnumerable<JeyoNET5.Models.Servicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Servicios agregados</h1>

<p>
    <a asp-action="Create">Agregar un nuevo servicio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingreso.IngresoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServicioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ServicioId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ServicioId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
