@model IEnumerable<JeyoNET5.Models.Egreso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEgreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEgresos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEgreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEgresos.TipoEgresoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacientes.PacienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EgresoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EgresoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EgresoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
